body {
  display: flex;
  justify-content: center;
  align-items: center;
  /* font-family: "ProtestGuerrilla-Regular"; */
  color: #fff;
  font-size: 27px;
  background-color: #171717;
  block-size: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  inline-size: 800px;
  inline-size: 40%;
}

.container_hidden {
  visibility: hidden;
}

.board {
  inline-size: 100%;
  aspect-ratio: 1 / 1;
  position: relative;
}

.board__game {
  display: grid;
  grid-template-columns: repeat(21, 1fr);
  grid-template-rows: repeat(21, 1fr);
  inline-size: 100%;
  block-size: 100%;
  position: relative;
  gap: 4px;
  padding: 1px;
}

.board__game_blured {
  filter: blur(5px);
}

.board__game__item {
  border-radius: 8px;
  background-color: #282828;
}

.board .board_hidden {
  display: none;
}

.board-modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  inline-size: 100%;
  block-size: 100%;
}

.board-start {
  gap: 70px;
}

.board__title {
  font-weight: 400;
  font-size: 85px;
  text-align: center;
}

.board__text {
  /* font-size: ; */
}

.board-defeat {

}

.board-pause {
  visibility: hidden;
  position: absolute;
  inset: 0;
  background-image: url('../images/pause.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70%;
}

.board-pause_visibile {
  visibility: visible;
}
.board-start__button-container {
  display: flex;
  gap: 10px;
}

.button {
  appearance: none;
  background-color: transparent;
  border: none;
  border-radius: 23px;
  background-size: 60%;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.button:hover {
  background-color: #606363;
}

.button_start {
  padding: 2px 20px;
  /* inline-size: 310px; */
  font-size: 65px;
}

.button_pause {
  min-inline-size: 50px;
  min-block-size: 50px;
  border-radius: 100%;
  background-image: url('../images/pause.svg');
}

.button_reset {
  min-inline-size: 50px;
  min-block-size: 50px;
  border-radius: 100%;
  background-image: url('../images/reset.svg');
}

.details {
  inline-size: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: 'details__button-container score .';
}

.details_hidden {
  visibility: hidden;
}

.details__button-container {
  display: flex;
  justify-content: flex-start;
  gap: 30px;
  grid-area: details__button-container;
}


.score {
  font-size: 42px;
  grid-area: score;
  justify-self: center;
}

.snake {
  border: 1px solid #000;
  background-color: green;
}

.snake__head {
  background-color: #fafa05;
}

.food {
  /* border: 1px solid #000; */
  background-color: red;
}
