body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "ProtestGuerrilla-Regular";
  font-size: 27px;
  block-size: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  inline-size: 40%;
}

.game-board {
  display: grid;
  grid-template-columns: repeat(21, 1fr);
  grid-template-rows: repeat(21, 1fr);
  border: 2px solid #000;
  inline-size: 100%;
  aspect-ratio: 1 / 1;
}

.snake {
  border: 1px solid #000;
  background-color: #451f69;
}

.food {
  border: 1px solid #000;
  background-color: #11b5b8;
}
